# Copyright 2015 Google Inc. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Deployment Coordinator definition
#
# Required input parameters:
#  * package - name of the software package ("cassandra")
#              used for tagging instances and the temp install directory name
#  * zone - name of the GCE zone for the instance

# Optional input parameters:
#  * deployment - name of the deployment to monitor
#  * bootDiskType - pd-standard by default
#  * machineType - n1-standard-1 by default

{% import 'path_utils.jinja' as path_utils with context %}

# Expand resource input parameters into full URLs

{% set image = path_utils.imagePath("debian-8-jessie-v20150915") %}
{% set network = path_utils.networkPath("default") %}
{% set zone = properties["zone"] %}
{% set bootDiskType =
    path_utils.diskTypePath(zone,
      properties["bootDiskType"]|default("pd-standard")) %}
{% set machineType =
    path_utils.machineTypePath(zone,
      properties["machineType"]|default("n1-standard-1")) %}

{% set deployment = properties["deployment"]|default(env["deployment"]) %}

# Declare resources

resources:

- type: compute.v1.instance
  name: {{ deployment }}-coord
  properties:
    zone: {{ zone }}
    machineType: {{ machineType }}

    disks:
    # Request boot disk creation (mark for autodelete)
    - deviceName: boot
      type: PERSISTENT
      diskType: {{ bootDiskType }}
      diskSizeGb: 10
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: {{ image }}

    networkInterfaces:
    - network: {{ network }}
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT

    tags:
      items:
      - "deployed-from-google-developer-console"

    serviceAccounts:
    - email: default
      scopes:
      - https://www.googleapis.com/auth/compute
      - https://www.googleapis.com/auth/ndev.cloudman.readonly
      - https://www.googleapis.com/auth/replicapool.readonly

    metadata:
      items:
      - key: startup-script
        value: |
          #!/bin/bash
          readonly STARTUP_SCRIPT_URL='https://storage.googleapis.com/c2d-install-scripts/startup-script.sh'
          while ! curl -o /tmp/startup-script.sh ${STARTUP_SCRIPT_URL}; do
            echo "c2d-StatusUpdate: Failed to fetch ${STARTUP_SCRIPT_URL}"
            echo "Sleep 2s"
            sleep 2s
          done
          bash /tmp/startup-script.sh
      - key: ENV_PACKAGE_DOWNLOAD_URL
        value: https://storage.googleapis.com/c2d-install-scripts/deployment-coord.tar.gz
      - key: DEPLOYMENT
        value: {{ deployment }}
